
    

    
        
     <!--Header-Area-->
    <header class="blue-bg relative fix" id="home">
        <div class="section-bg overlay-bg dewo ripple"></div>
        <div class="particles-js" id="particles-js"></div>
        <!--Mainmenu-->
        <nav class="navbar navbar-default mainmenu-area navbar-fixed-top" data-spy="affix" data-offset-top="60">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" class="navbar-toggle" data-target="#mainmenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">
                        <!-- <img src="assets/images/logo.png" alt=""> -->
                        <h2 class="text-white logo-text">O.T.A</h2>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse navbar-right" id="mainmenu">
                    <ul class="nav navbar-nav">
                       
                        <li [class.active]="activeSection === '#home'"><a href="#home">Home</a></li>
                        <!-- <li  [class.active]="activeSection === 'work'"><a href="#work">{{activeSection}}</a></li> -->
                        <li><a href="#feature">Services</a></li>
                        <li><a href="#team">Management Team</a></li>
                        <li><a href="#client">Client</a></li>
                        <li><a href="#price">About Us</a></li>
                        <li><a href="#blog">News</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            
        </nav>

        <!--Mainmenu/-->
        <div class="space-100"></div>
        <div class="space-20 hidden-xs"></div>
       <!--Header-Text-->
       <div class="container text-white">
           <div class="row">
               <div class="col-xs-12 col-md-8">
                   <div class="space-100"></div>
                   <div class="home_screen_slide_main">
                       <div class="home_text_slide" ngSkipHydration>
                           <div class="item">
                               <h1>Welcome to <br />Oromia Transport Authority</h1>
                               <div class="space-10"></div>
                               <p>Licencing trained, ethical drivers, Who can play their roles in assuring secured transport mobility. </p>
                               <p>Licencing trained, ethical drivers, Who can play their roles in assuring secured transport mobility. </p>
                               <p>Licencing trained, ethical drivers, Who can play their roles in assuring secured transport mobility. </p>

                               <div class="space-50"></div>
                               <a href="https://www.youtube.com/watch?v=iaj8ktgL3BY" class="btn btn-icon video-popup"><span class="ti-control-play"></span>Watch Video</a>
                           </div>
                           <div class="item">
                               <h1> Welcome to <br />Oromia Transport Authority</h1>
                               <div class="space-10"></div>
                               <p>By modernizing and managing bus terminals in the region, aspires to realize convenient transport service </p>
                               <p>By modernizing and managing bus terminals in the region, aspires to realize convenient transport service. </p>
                               <p>By modernizing and managing bus terminals in the region, aspires to realize convenient transport service. </p>
                               <div class="space-50"></div>
                               <a href="https://www.youtube.com/watch?v=iaj8ktgL3BY" class="btn btn-icon video-popup"><span class="ti-control-play"></span>Watch Video</a>
                           </div>
                           <div class="item">
                               <h1>Welcome to <br />Oromia Transport Authority</h1>
                               <div class="space-10"></div>
                               <p>Securing regional transport mobility through reduced fatalities property damage. </p>
                               <p>Securing regional transport mobility through reduced fatalities property damage. </p>
                               <p>Securing regional transport mobility through reduced fatalities property damage. </p>
                               <div class="space-50"></div>
                               <a href="https://www.youtube.com/watch?v=iaj8ktgL3BY" class="btn btn-icon video-popup"><span class="ti-control-play"></span>Watch Video</a>
                           </div>
                           <div class="item">
                               <h1>Welcome to  <br />Oromia Transport Authority</h1>
                               <div class="space-10"></div>
                               <p>To control and follow up the provision of safe,efficient,adequate and equitable transport services in the region. To control and follow up the provision of safe,efficient,adequate and equitable transport services in the region.</p>
                               <div class="space-50"></div>
                               <a href="https://www.youtube.com/watch?v=iaj8ktgL3BY" class="btn btn-icon video-popup"><span class="ti-control-play"></span>Watch Video</a>
                           </div>
                           <div class="item">
                               <h1>Welcome to <br />Oromia Transport Authority</h1>
                               <div class="space-10"></div>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
                               <div class="space-50"></div>
                               <a href="https://www.youtube.com/watch?v=iaj8ktgL3BY" class="btn btn-icon video-popup"><span class="ti-control-play"></span>Watch Video</a>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="hidden-xs hidden-sm col-md-4">
                   <div class="home_screen_slide">
                       <div class="single_screen_slide wow fadeInRight">
                           <div class="item"><img src="assets/images/screen/screen1.jpg" alt=""></div>
                           <div class="item"><img src="assets/images/screen/screen2.jpg" alt=""></div>
                           <div class="item"><img src="assets/images/screen/screen3.jpg" alt=""></div>
                           <div class="item"><img src="assets/images/screen/screen4.jpg" alt=""></div>
                           <div class="item"><img src="assets/images/screen/screen5.jpg" alt=""></div>
                       </div>
                   </div>
                   <div class="home_screen_nav">
                       <span class="ti-angle-left testi_prev"></span>
                       <span class="ti-angle-right testi_next"></span>
                   </div>
               </div>
           </div>
           <div class="space-80"></div>
       </div>
       <!--Header-Text/-->
        <!--Header-Text/-->
    </header> 
    <!--Header-Area/-->

        
